@use "sass:math";

.u-dtc {
  display: table-cell;
}
.u-vam {
  vertical-align: middle;
}
// FLEX
.u-df {
  display: flex;
}
.u-dfi {
  display: inline-flex;
}
.u-fw {
  display: flex;
  flex-wrap: wrap;
}
.u-fnw {
  display: flex;
  flex-wrap: nowrap;
}
.u-fdr {
  display: flex;
  flex-direction: row;
}
.u-fdc {
  display: flex;
  flex-direction: column;
}
.u-jcc {
  justify-content: center;
}
.u-jcsb {
  justify-content: space-between;
}
.u-jcfs {
  justify-content: flex-start;
}
.u-jcfe {
  justify-content: flex-end;
}
.u-aic {
  align-items: center;
}
.u-aifs {
  align-items: flex-start;
}
.u-aife {
  align-items: flex-end;
}
.u-f-0-0 {
  flex: 0 0 auto;
}

@for $i from 1 through 15 {
  .u-fg-#{$i} {
    gap: #{$i}rem;
  }
}
.u-fg-0-5 {
  gap: 0.5rem;
}
.u-fg-1-5 {
  gap: 1.5rem;
}
.u-fg-2-5 {
  gap: 2.5rem;
}
.u-order-1 {
  order: 1;
}

.u-blend-top {
  padding-top: 0 !important;
}
.u-blend-bottom {
  padding-bottom: 0 !important;
}
.u-blend-left {
  padding-left: 0 !important;
}
.u-blend-right {
  padding-right: 0 !important;
}
.u-blend-ver {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.u-blend-hor {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.u-blend-full {
  padding: 0 !important;
}
@for $i from 1 through 10 {
  .u-mt-#{$i} {
    margin-top: #{$i}rem;
  }
}
@for $i from 1 through 10 {
  .u-mt--#{$i} {
    margin-top: -#{$i}rem;
  }
}

// floats
.u-float-right {
  float: right;
}
.u-float-left {
  float: left;
}

.u-cf::before,
.u-cf::after {
  content: '';
  display: block;
  clear: both;
}


@for $i from 3 through 9 {
  .u-fw-#{$i}00 {
    font-weight: calc(#{$i} * 100);
  }
}

.u-fs-i {
  font-style: italic;
}

// COLORS

// HELPERS
.u-hidden {
  @include hidden();
}

.u-hide {
  display: none;
}

.u-uppercase {
  text-transform: uppercase;
}
.u-tac {
  text-align: center;
}
.u-twb {
  text-wrap: balance;
}
.u-tar {
  text-align: right;
}
.u-tal {
  text-align: left;
}

.u-success {
  // color: $color-green;
}
.u-error {
  // color: $color-red;
}

.u-overflow {
  overflow: auto;
}

.u-overflow-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.u-overflow-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.u-desktop {
  display: block;
}
@include respond(device(mobile)) {
  .u-desktop {
    display: none !important;
  }
}
@media (min-width: #{$mobile+1}px) {
  .u-mobile {
    display: none !important;
  }
}

@include respond(device(mobile)) {
  .u-mobile {
    display: block;
  }
}
@each $category, $color in $categories-color-map {
  .u-color-#{$category} {
    color: $color;
  }
  .u-bg-#{$category} {
    background: $color;
  }
  .u-fill-#{$category} {
    path {
      fill: $color;
    }
  }
}

@for $i from 1 through 30 {
  .u-width-#{$i} {
    width: #{$i}rem;
  }
}

.u-w-100 {
  width: 100%;
}

@for $i from 10 through 30 {
  .u-fs-#{$i} {
    font-size: calc(#{$i}rem / 10);
  }
  @include respond(device(mobile)) {
    .u-fs-#{$i} {
      font-size: calc(#{$i}rem / 12);
    }
  }
}

@for $i from 1 through 10 {
  .u-z-#{$i} {
    z-index: #{$i};
  }
}
.u-z--1 {
  z-index: -1;
}
.u-oh {
  overflow: hidden;
}

.u-h-mb {
  margin-bottom: var(--spacer-large);
}

@for $i from 0 through 10 {
  .u-mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
}
.u-mb-0-5 {
  margin-bottom: 0.5rem;
}
@for $i from 0 through 10 {
  .u-mt-#{$i} {
    margin-top: #{$i}rem;
  }
}
@for $i from 0 through 10 {
  .u-mr-#{$i} {
    margin-right: #{$i}rem;
  }
}
.u-mr-1-5 {
  margin-right: 1.5rem;
}
@for $i from 0 through 10 {
  .u-ml-#{$i} {
    margin-right: #{$i}rem;
  }
}
.u-br-50 {
  border-radius: 50%;
}
.u-pos-rel {
  position: relative;
}
.u-center {
  display: grid;
  place-content: center;
}
.u-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
